.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .link-button:hover,
  .link-button:focus {
  text-decoration: none;
  }

  h1{
    color:red;
  }

#tbxZipCode {
    width: 152px;
}

div.dealer-search input[type="text"] {
    font-size: 2rem;
    padding: .5rem .75rem;
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
}

.dealer-search{
  width: 250px!important
}

.font-base, p, p.text__small, ul {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.4em;
  color: #495057;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); 
  z-index: 2000;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


.ffButton {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  padding: .7em .8em .6em;
  margin-bottom: .25rem;
  border: none;
  font-size: 1rem;
  font-weight: 900;
  color: #fff;
  background-color: #495057;
  text-transform: capitalize;
  border-radius: 4px;
  width: 80px !important;
  height: 38px !important;
  font-family: "Open Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.15;
    margin: 0;
}